
a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}

.fixed-background {
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section-title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 4.5rem;
  top: 30%;
  position: absolute;
}
 
.content-name {
  border-bottom:solid 5px #E03131 ;
  display: inline-block;
  margin-bottom: 20px;
}
/* header */
#header{
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url(img/main.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 20px 40px;
  margin-bottom: 25px;
}

.site-title{
  text-align: center;
  margin-top: 5%;
  position: absolute;
  padding: 0 16px;
  left: 0;
  right: 0;
  top: 45%;
}

 nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li a {
  color: #fff;
  padding-left: 30px;
  text-shadow: 0px 2px 2px #000;
}

/* menu */

.menu-mainVisual  {
  background-image: url(img/menu.jpg);
  position: relative;
}

.menu-wrapper  {
  display: flex;
}


.menu dl {
  display: flex;
  flex-wrap: wrap;
}

.menu .content:first-child {
  border-right: solid 1px #000000 ;
}

.menu .content {
  width: 50%;
  padding: 0 45px;
}

.menu dt {
  width: 82%;
  text-align: left;
  border-bottom: dotted 1px #000000;
  margin-bottom: 20px ;
}

.menu dd {
  width: 18%;
  text-align: right;
}

.menu dl.food {
  margin-bottom: 60px;
}

/* about */

.about-mainVisual {
  background-image:url(img/about.jpg) ;
  position: relative;
}

#about .content-name {
  margin-bottom: 60px;
}

#about ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#about li {
  width: 50%;
  text-align: left;
  padding: 4%;
  line-height: 2;
}

#about .btn {
  width: 160px;
  height: 50px;
  color: #000000;
  display: inline-block;
  position: relative;
  line-height: 3.5;
}

#about .btn::before,
#about .btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
#about .btn span::before,
#about .btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
#about .btn::before,
#about .btn span::before {
  width: 2px;
  height: 50%;
}
#about .btn::after,
#about .btn span::after {
  width: 20%;
  height: 2px;
}

#about .btn:hover::before,
#about .btn span:hover::before {
  height: 100%;
}

#about .btn:hover::after,
#about .btn span:hover::after {
  width: 100%;
}



/* location */

#location .location-mainVisual {
  background-image: url(img/location.jpg);
  position: relative;
}

#location .content-name {
  margin-bottom: 60px;
}

.location-map {
  filter: grayscale(2);
  margin-bottom: 10px;
}

.location-map iframe {
  width: 100%;
  height: 400px;
}

.location-info {
  text-align: left;
}

.location-info p {
  margin-bottom: 10px;
}

/* footer */

#footer {
  font-size: 0.5rem;
  text-align: center;
  padding: 10px 0;
}


/* SP */
@media screen and (max-width:700px) {
  
  .fixed-background {
    background-attachment: scroll;
    height: 90px;
  }

  .section-title {
    font-size: 2rem;
    top: 25%;
  }

  .wrapper {
    padding: 30px 16px 60px 16px;
  }

  /* menu */

  .menu-wrapper {
    flex-direction: column;
  }

  .menu .content:first-child {
    border-right: none;
  }

  .menu .content {
    width: 100%;
    padding: 0;
  }

  /* about */

  .about ul {
    flex-direction: column;
  }

  .about li {
    width: 100%;
  }
}